<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - Dirty Stats</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/bulma.min.css') }}">
  <script defer src="{{ url_for('static', filename='js/base.js') }}"></script>
  {% block head_import %}{% endblock %}
</head>

<body>

  <nav class="navbar" role="navigation" aria-label="main navigation">

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="{{ url_for('index') }}">
          Home
        </a>

        <a class="navbar-item" href="{{ url_for('companies') }}">
          Companies
        </a>

        <a class="navbar-item" href="{{ url_for('update') }}">
          Update
        </a>

      </div>
    </div>

  </nav>


  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="notification has-text-centered {{ category }}">
    <button class="delete"></button>
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}
</body>

</html>